*{
    margin: 0;
    padding: 0;
    border: none;
}
header{
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://ssa.ru/upload/000/u1/1/c/e1fb6445.jpg");
}
.header__content{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}
button{
    border-radius: 20px;
    color: white;
    background-color: khaki;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
.header__content__button{
    font-size: 20px;
    padding: 15px;
    height: 50px;
    margin-top: 5px;
}
h1{
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
img{
    margin-left: 12px;
    margin-top: 12px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
}
body{
    background-color: rgb(51, 51, 51);
}
.shops__conteners{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
}
.shops__content{
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    height: 335px;
    width: 275px;
    margin-top: 50px;
}
.shops__content__img{
    border-radius: 15px;
    height: 175px;
    width: 250px;
    padding-left: 13px;
} 
.shops__content__h2{
    font-size: 35px;
    color: white;
    padding-left: 13px;
}
.shops__content__h3{
    font-size: 30px;
    color: white;
    padding-left: 13px;
}
.shops__content__button{
    margin-left: 10px;
    display: flex;
    gap: 175px;
}
.shops__content__button_buy{
    font-size: 20px;
    padding: 7px;
    height: 35px;
}
.shops__content__button_like{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
    padding: 7px;
    height: 35px;
    width: 35px;
}
footer{
    background-color: rgb(21, 21, 21);
    margin-top: 25px;
    height: 100px;
}
.footer_content{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer_content_sotset{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
button:hover{
    background-color: rgba(226, 185, 96, 0.753);
}
.shops__content__button_like:active{
    color: red;
}
.shops__content__button_like:hover{
    background-color: rgb(31, 31, 31);
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}