*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-radius: none;
    text-decoration: none;

    body{
        background-color: rgb(46, 45, 45);
        
        .header__contents{
            padding: 7px;
            background-color: rgb(31, 30, 30);
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: 100%;

            .header__contents__logo{
                padding-left: 10px;
            }

            .header__contents__search{
                display: flex;
                gap: 10px;
                input{
                    background-color: rgb(46, 45, 45);
                    padding: 7px;
                    font-size: 25px;
                    color: #536177;
                    border: solid #ff0159 1px;
                    border-radius: 15px;
                    width: 350px;
                    height: 30px;
                }
            }
            .header__contents__mainContents{
                display: flex;
                align-items: center;
                padding-right: 15px;
                gap: 25px;
            }
        }

        .slider{
             display: none;  
        }

        main{

            .container{
                padding-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .main__card{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    width: 240px;
                    min-height: 300px;
                    padding: 7px;
                    border-radius: 15px;
                    border: solid #ff0159 1px;
    
                    .main__card__logo{
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .main__card__logo__img{
                            border-radius: 15px;
                        }
                    }
                    
                    .main__card__button{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 200px;
    
                        .main__card__basket__btn{
                            background-color: rgb(46, 45, 45);
                            padding: 4px;
                            font-size: 20px;
                            color: #ff0159;
                            border: solid #ff0159 1px;
                            border-radius: 15px;

                            a{
                                color: #ff0159;
                            }
                        }
                    }
            
                }
            }
        }

        .end{
            display: none;
        }

        log__reg{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;

            .login__menu{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: auto;
                border: solid #ff0159 1px;
                border-radius: 25px;
                min-width: 450px;
                min-height: 555px;
                
                h1{
                    font-size: 40px;
                    color: white;
                    padding-left: 90px;
                    padding-bottom: 20px;
                }

                .login__menu__username{
                    padding-bottom: 10px;
                }

                .login__menu__password__repeat{
                    padding-top: 10px;
                }

                input{
                    background-color: rgb(46, 45, 45);
                    padding: 7px;
                    font-size: 20px;
                    color: #536177;
                    border: solid #ff0159 1px;
                    border-radius: 15px;
                    width: 275px;
                    height: 25px;
                }
                
                .login__menu__hide{
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;

                    input{
                        width: 20px;
                        height: 20px;
                    }

                    a{
                        padding-left: 10px;
                        color: white;
                    }
                }
                .login__menu__buttons{
                    padding-top: 20px;
                    .login__menu__button{
                        width: 300px;
                        background-color: rgb(46, 45, 45);
                        padding: 7px;
                        font-size: 20px;
                        color: #ff0159;
                        border: solid #ff0159 1px;
                        border-radius: 15px;
                    }
                }
                .login__menu__reg{
                    padding-top: 17px;
                    color: white;

                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}

.close__btn{
    position: absolute;
}

.container{
    width: 75%;
    margin: auto;
    height: 100%;
}